
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Georgia', serif;
    line-height: 1.8;
    background-color: #dadada;
    color: #ffffff;
}
/* Centering text in the body for global text alignment */
body {
    text-align: center;
    padding: 20px;
    max-width: 3000px;
    margin: auto;
    background-color: #000000; /* Add a background color that ensures text visibility */
    position: relative; /* Ensures that z-index on children is respected */
    
}

/* Header styling with centered text */
header {
    text-align: center;
    margin-bottom: 20px;
}

/* Footer styling with centered text */
footer {
    text-align: center;
    margin-top: 20px;
}

/* Styling for links with centralized alignment and no text decoration */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
}



/* Dynamic holes with initial invisible state and transition for expansion */
.hole {
    position: absolute;
    width: 0; /* Initial width is zero */
    height: 0; /* Initial height is zero */
    border-radius: 50%;
    background: radial-gradient(circle, #000000 5%, #ffffff 40% 5%, #000000 70%);
    transition: width 1s ease-out, height 1s ease-out; /* Controls gradual expansion */
    pointer-events: none; /* Ignore mouse events */
    
}
#background-container {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;    
    background-image: url('background.jpg');

    background-size: cover;
    background-position: center;
    
    cursor: pointer;
    
}
